#works {
    overflow: hidden;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 0 1rem;
    min-height: auto;
    
}


.works-row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 10%;
}
 .works-row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 10%;
}